In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv("RestaurantReviews.csv")

In [7]:
df.head()

,Unnamed: 0,Restaurant Name,Review Text,Type of Restaurant
0,0,ZuZu at Hotel Valley Ho,“Fab Breakfast and Bar!”,"American, Bar"
1,1,1. Cafe Monarch,"“... beef tartare, a seafood tower, beet salad...",American
2,2,2. Mowry & Cotton,“The food was great (try the meatballs) and th...,American
3,3,3. Franco's Italian Caffe,"“A simple green salad, a glass of red wine and...","Italian, Tuscan"
4,4,4. The Capital Grille,“... accompany our great flourless chocolate c...,"American, Steakhouse"

In [8]:
df = df.drop('Unnamed: 0', axis = 1)

In [9]:
df.head()

,Restaurant Name,Review Text,Type of Restaurant
0,ZuZu at Hotel Valley Ho,“Fab Breakfast and Bar!”,"American, Bar"
1,1. Cafe Monarch,"“... beef tartare, a seafood tower, beet salad...",American
2,2. Mowry & Cotton,“The food was great (try the meatballs) and th...,American
3,3. Franco's Italian Caffe,"“A simple green salad, a glass of red wine and...","Italian, Tuscan"
4,4. The Capital Grille,“... accompany our great flourless chocolate c...,"American, Steakhouse"

In [12]:
# Data Preprocessing
#df['Restaurant Name'] = df['Restaurant Name'].replace(str(df.index) + '.', '')

In [27]:
df.head()

,Restaurant Name,Review Text,Type of Restaurant
0,ZuZu at Hotel Valley Ho,“Fab Breakfast and Bar!”,"American, Bar"
1,1. Cafe Monarch,"“... beef tartare, a seafood tower, beet salad...",American
2,2. Mowry & Cotton,“The food was great (try the meatballs) and th...,American
3,3. Franco's Italian Caffe,"“A simple green salad, a glass of red wine and...","Italian, Tuscan"
4,4. The Capital Grille,“... accompany our great flourless chocolate c...,"American, Steakhouse"

In [26]:
import nltk

for i in df['Restaurant Name']:
   a = nltk.word_tokenize(i)   
   #print(a)
   if str(a[0]).isnumeric():
       a = a[1:]
       i = ''.join(a)
df['Restaurant Name']

0                         ZuZu at Hotel Valley Ho
1                                 1. Cafe Monarch
2                               2. Mowry & Cotton
3                       3. Franco's Italian Caffe
4                           4. The Capital Grille
                                  ...
26. HIRO Sushi                         .HIROSushi
27. Cornish Pasty Co              .CornishPastyCo
28. Postino Winebar               .PostinoWinebar
29. Daily Dose                         .DailyDose
30. FnB                                      .FnB
Name: Restaurant Name, Length: 64, dtype: object

In [42]:
#some_name = str(df.index) + '.'
#if df['Restaurant Name'].str.contains('123.'):
df['Restaurant Name'] = df['Restaurant Name'].str.strip('123456789101112131415161718192021222324252627282930.')
    #print(i.loc['Restaurant Name'])
    #print('Hi')
df['Restaurant Name']

0                       ZuZu at Hotel Valley Ho
1                                  Cafe Monarch
2                                Mowry & Cotton
3                        Franco's Italian Caffe
4                            The Capital Grille
5                   Butterfield's Pancake House
6                              JOJO Coffeehouse
7                                        Craft
8                                         Virtu
9                          Rehab Burger Therapy
10                      Butters Pancakes & Cafe
11                   Grassroots Kitchen and Tap
12                                       Steak
13     Elements at Sanctuary Camelback Mountain
14                       Roka Akor - Scottsdale
15                                        deseo
16                      Eddie V's Prime Seafood
17                        Dominick's Steakhouse
18                            True Food Kitchen
19                          Snooze an AM Eatery
20                Mastro's City Hall Steakhouse
21                                  Perk Eatery
22                         Citizen Public House
23                                     Talavera
24                          Tutti Santi By Nina
25                               Breakfast Club
26        Prado at Omni Montelucia Resort & Spa
27                                   HIRO Sushi
28                             Cornish Pasty Co
29                              Postino Winebar
30                                   Daily Dose
31                                          FnB
Name: Restaurant Name, dtype: object

In [43]:
df.head()

,Restaurant Name,Review Text,Type of Restaurant
0,ZuZu at Hotel Valley Ho,“Fab Breakfast and Bar!”,"American, Bar"
1,Cafe Monarch,"“... beef tartare, a seafood tower, beet salad...",American
2,Mowry & Cotton,“The food was great (try the meatballs) and th...,American
3,Franco's Italian Caffe,"“A simple green salad, a glass of red wine and...","Italian, Tuscan"
4,The Capital Grille,“... accompany our great flourless chocolate c...,"American, Steakhouse"

In [51]:
from nltk.corpus import stopwords
stopWords = set(stopwords.words('english'))
stopWords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [54]:
df['BagofWords'] = df['Review Text'].apply(lambda x: x.lower())

In [59]:
text_2 = ''.join(df['BagofWords'])
text_2

"“fab breakfast and bar!”“... beef tartare, a seafood tower, beet salad, duck breast and a salmon dish.”“the food was great (try the meatballs) and the atmosphere was fantastic!”“a simple green salad, a glass of red wine and franco's scrumptious lasagna.”“... accompany our great flourless chocolate cake and the best cheesecake ever.”“known for their pancakes, but recommend the breakfast burrito!”“the coffee flight was amazing!”“many different beers they brew, plus a wall of other craft beers give plenty...”“we had an excellent a salad followed by a absolutely delicious sea bass entrée.”“... it was a southwestern type of salad with really fresh greens, spicy chick...”“breakfast brunch”“still the best burger and fries i know.”“definitely get the beignets that are brought to you in a display of each beig...”“... to start, and then for entrees we had the pork chop and the sea bass.”“if you go and try the omakase, be prepared for a lot of amazing food 😁”“... to try the pisco sour which took me right back to my time in peru!”“we started with drinks, caesar salad, swordfish, sides and desert s’more.”“we shared side dishes and each had a salad which could have been shared also.”“several of our family members are vegan and vegetarian so we always have to b...”“my corned beef hash was very good and my wife raved about her eggs benedict,...”“the salmon appetizer is a meal in itself that has the flavor police nervous!”“my husband enjoyed the french toast and my daughter loved the pancakes with s...”“the fondue board has 3-cheese fondue, pear slices, pretzel roll and sausage.”“others had the filet, a burger, salmon.”“we split an eggplant baked in ricotta cheese with flaked spinach, smothered i...”“the huevos rancheros is a must have, the green goddess is wonderful and the b...”“tasty”“great little mom & pop sushi restaurant”“great authentic pasties and meatballs!”“a place to get out of the rain turned out to be a fabulous stop for happy hour!”“finding a quality, healthy”“our table began with a varied assortment of apps: a radish salad, an okra sid...”"

In [64]:

for i in stopWords:
    if i in text_2:
        text_2 = text_2.strip(i)
text_2

"“fab breakfast and bar!”“... beef tartare, a seafood tower, beet salad, duck breast and a salmon dish.”“the food was great (try the meatballs) and the atmosphere was fantastic!”“a simple green salad, a glass of red wine and franco's scrumptious lasagna.”“... accompany our great flourless chocolate cake and the best cheesecake ever.”“known for their pancakes, but recommend the breakfast burrito!”“the coffee flight was amazing!”“many different beers they brew, plus a wall of other craft beers give plenty...”“we had an excellent a salad followed by a absolutely delicious sea bass entrée.”“... it was a southwestern type of salad with really fresh greens, spicy chick...”“breakfast brunch”“still the best burger and fries i know.”“definitely get the beignets that are brought to you in a display of each beig...”“... to start, and then for entrees we had the pork chop and the sea bass.”“if you go and try the omakase, be prepared for a lot of amazing food 😁”“... to try the pisco sour which took me right back to my time in peru!”“we started with drinks, caesar salad, swordfish, sides and desert s’more.”“we shared side dishes and each had a salad which could have been shared also.”“several of our family members are vegan and vegetarian so we always have to b...”“my corned beef hash was very good and my wife raved about her eggs benedict,...”“the salmon appetizer is a meal in itself that has the flavor police nervous!”“my husband enjoyed the french toast and my daughter loved the pancakes with s...”“the fondue board has 3-cheese fondue, pear slices, pretzel roll and sausage.”“others had the filet, a burger, salmon.”“we split an eggplant baked in ricotta cheese with flaked spinach, smothered i...”“the huevos rancheros is a must have, the green goddess is wonderful and the b...”“tasty”“great little mom & pop sushi restaurant”“great authentic pasties and meatballs!”“a place to get out of the rain turned out to be a fabulous stop for happy hour!”“finding a quality, healthy”“our table began with a varied assortment of apps: a radish salad, an okra sid...”"